package mx.edu.itoaxaca.api.v1.{{name}}.infrastructure.persistence;

import java.util.UUID;
import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}};
import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}}Repository;
import org.springframework.data.jpa.repository.JpaRepository;

public interface Postgres{{Name}}Repository 
    extends JpaRepository<{{Name}}, UUID>, {{Name}}Repository {}
