package mx.edu.itoaxaca.api.v1.period.infrastructure.persistence;

import mx.edu.itoaxaca.api.v1.period.domain.{{Name}}Repository;
import org.mockito.Mockito;

public class {{Name}}RepositoryMock {

    public static final {{Name}}Repository mock = Mockito.mock({{Name}}Repository.class);
}
