package mx.edu.itoaxaca.api.v1.{{name}}.infrastructure.persistence;

import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}}Repository;
import org.mockito.Mockito;

public class {{Name}}RepositoryMock {

    public static {{Name}}Repository mock(){
        return Mockito.mock({{Name}}Repository.class);
    }
}
