package mx.edu.itoaxaca.api.v1.{{name}}.application;

import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}};
import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}}RepositoryMock;

public class {{Name}}CreateTest {

    @Test
    void runTest() {
        var creator = new {{Name}}Create();
        
        var {{name}} = {{Name}}Mother.random();
        var repo = {{Name}}RepositoryMock.mock;
        Mockito.when(repo.save({{name}})).thenReturn({{name}});
    
        {{Name}} {{name}}Created = {{Name}}Create.run(repo, {{name}});
    }
}
