package mx.edu.itoaxaca.api.v1.{{name}}.application;

import static org.mockito.Mockito.times;
import static org.mockito.Mockito.verify;

import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}};
import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}}Mother;
import mx.edu.itoaxaca.api.v1.{{name}}.infrastructure.persistence.{{Name}}RepositoryMock;
import org.junit.jupiter.api.Test;
import org.mockito.Mockito;

import java.util.UUID;
import mx.edu.itoaxaca.api.v1.{{name}}.domain.{{Name}}Repository;

public class {{Name}}DestroyTest {

    @Test
    void runTest() {
        var destroyer = new {{Name}}Destroy();

        {{Name}} {{name}} = {{Name}}Mother.random(true);

        var repo = {{Name}}RepositoryMock.mock();
        Mockito.when(repo.find{{Name}}ById({{name}}.getId())).thenReturn({{name}});

        Mockito.doNothing().when(repo).deleteById({{name}}.getId());
        {{Name}}Destroy.run(repo, {{name}}.getId());

        verify(repo, times(1));
    }
}
