package mx.edu.itoaxaca.api.v1.{{name}}.domain;

import java.util.UUID;

public class {{Name}}Mother {

    public static {{Name}} random() {
        return new {{Name}}(
            UUID.randomUUID()
        );
    }
}
