package mx.edu.itoaxaca.api.v1.{{name}}.domain;

import mx.edu.itoaxaca.api.v1.shared.domain.ValueObject.StringValueObject;

public class {{Name}}Name extends StringValueObject{
    public {{Name}}Name(String value) {
        super(value);
    }
}
